<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    
</head>
<body>
    <div class="top-bar">
         <div class="top-bar-left">
            <ul class="menu">
                <li><input type="search" placeholder="Search"></li>
                <li><button type="button" class="button">Search</button></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">Site Title</li>
                <li>
                    <a href="#">One</a>
                    <ul class="submenu menu vertical">
                        <li><a href="#">One</a></li>
                        <li><a href="#">Two</a></li>
                        <li><a href="#">Three</a></li>
                    </ul>
                </li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
            </ul>
        </div>
       
    </div>

    <h1>Groceries Delivered to You</h1>
    <div id="pic-head">
        <img src="{% static '/img/bananas.jpg' %}" class="small-food">
        <img src="{% static '/img/yogurt parfait.jpg' %}" class="small-food">
        <img src="{% static '/img/rib eye steak.jpg' %}" class="small-food">
    </div>

    <button class="button">Show Now</button>

    <h1>Featured Products</h1>
    <div id="pic-head">
        <img src="{% static '/img/bananas.jpg' %}" class="mid-food">
        <img src="{% static '/img/yogurt parfait.jpg' %}" class="mid-food">
        <img src="{% static '/img/rib eye steak.jpg' %}" class="mid-food">
    </div>


    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/foundation.js' %}"></script>
    <script>$(document).foundation();</script>

</body>
</html>